<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" [opened]="sidenavOpened" class="sidenav">
    <mat-toolbar color="primary">
      <span>Navigation</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/projects" routerLinkActive="active">
        <mat-icon matListItemIcon>folder</mat-icon>
        <span matListItemTitle>Projects</span>
      </a>
      <a mat-list-item routerLink="/chat" routerLinkActive="active">
        <mat-icon matListItemIcon>chat</mat-icon>
        <span matListItemTitle>Chat</span>
      </a>
      <a mat-list-item routerLink="/settings" routerLinkActive="active">
        <mat-icon matListItemIcon>settings</mat-icon>
        <span matListItemTitle>Settings</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="app-toolbar">
      <button mat-icon-button (click)="toggleSidenav()" matTooltip="Toggle navigation">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-title">{{ title }}</span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button (click)="toggleTheme()" matTooltip="Toggle theme">
        <mat-icon>{{ isDarkTheme ? 'light_mode' : 'dark_mode' }}</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="userMenu" matTooltip="User menu" *ngIf="isAuthenticated$ | async">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <div *ngIf="currentUser$ | async as user" class="user-info">
          <strong>{{ user.name }}</strong>
          <span>{{ user.email }}</span>
        </div>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="navigateToProfile()">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>