<mat-card class="app-card">
  @if (showHeader) {
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
      @if (subtitle) {
        <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
      }
      @if (actions.length > 0) {
        <div class="header-actions">
          @for (action of actions; track action.action) {
            <button mat-button 
                    [color]="action.color || 'primary'"
                    [disabled]="action.disabled"
                    (click)="onActionClick(action.action)">
              @if (action.icon) {
                <mat-icon>{{ action.icon }}</mat-icon>
              }
              {{ action.label }}
            </button>
          }
        </div>
      }
    </mat-card-header>
  }
  
  @if (showContent) {
    <mat-card-content>
      <ng-content select="[card-content]"></ng-content>
    </mat-card-content>
  }
  
  @if (showFooter) {
    <mat-card-footer>
      <ng-content select="[card-footer]"></ng-content>
    </mat-card-footer>
  }
</mat-card>