<div class="chat-layout">
  <div class="chat-container" [class.with-sidecar]="showSidecar()">
    <app-chat-header
      [title]="'Chat'"
      [showPermissionsBadge]="hasActivePermissions()"
      [permissionsCount]="activePermissionsCount()"
      [actions]="headerActions"
      [availableProviders]="availableProviders()"
      [selectedProvider]="selectedProvider"
      [availableModels]="availableModels()"
      [selectedModel]="selectedModel"
      (actionClick)="onHeaderAction($event)"
      (clearSession)="clearSession()"
      (providerChange)="onProviderChange($event)"
      (modelChange)="onModelChange($event)">
    </app-chat-header>
    
    <app-messages-list
      [messages]="messages()"
      [isLoading]="isLoading()"
      [showWelcome]="true">
    </app-messages-list>
    
    <app-chat-input
      [disabled]="isLoading()"
      (messageSent)="sendMessage($event)">
    </app-chat-input>
  </div>
  
  <!-- Sidecar Panel -->
  <div class="chat-sidecar" [@slideIn]="showSidecar()" *ngIf="showSidecar()">
    <app-panel 
      [title]="getSidecarTitle()"
      [showCloseButton]="true"
      (close)="closeSidecar()">
      
      @switch (sidecarView()) {
        @case ('permissions') {
          <app-session-permissions-panel
            [permissions]="sessionPermissions()"
            [paths]="sessionPaths()"
            (permissionsChanged)="onPermissionsChanged($event)"
            (pathsChanged)="onPathsChanged($event)">
          </app-session-permissions-panel>
        }
        @case ('context') {
          <app-context-files-panel></app-context-files-panel>
        }
        @case ('history') {
          <app-chat-history-panel></app-chat-history-panel>
        }
        @case ('tools') {
          <app-tools-panel></app-tools-panel>
        }
      }
    </app-panel>
  </div>
</div>