<div class="app-panel" [class.mat-elevation-z{{elevation}}]="elevation > 0">
  @if (showHeader) {
    <div class="panel-header">
      <div class="panel-title">
        @if (collapsible) {
          <button mat-icon-button (click)="toggleCollapse()">
            <mat-icon>{{ collapsed ? 'expand_more' : 'expand_less' }}</mat-icon>
          </button>
        }
        @if (icon) {
          <mat-icon class="panel-icon">{{ icon }}</mat-icon>
        }
        @if (title) {
          <h3>{{ title }}</h3>
        }
      </div>
      <div class="panel-actions">
        <ng-content select="[panel-actions]"></ng-content>
        @if (showCloseButton) {
          <button mat-icon-button (click)="onClose()">
            <mat-icon>close</mat-icon>
          </button>
        }
      </div>
    </div>
    @if (showDivider) {
      <mat-divider></mat-divider>
    }
  }
  
  @if (!collapsed) {
    <div class="panel-content">
      <ng-content></ng-content>
    </div>
  }
</div>