<div class="security-config">
  <form [formGroup]="form" class="config-form">
    <app-panel title="File Operations" icon="security">
      <div class="permissions-grid">
        <mat-checkbox formControlName="allowFileRead">
          <mat-icon>visibility</mat-icon>
          File Read
        </mat-checkbox>
        
        <mat-checkbox formControlName="allowFileWrite">
          <mat-icon>edit</mat-icon>
          File Write
        </mat-checkbox>
        
        <mat-checkbox formControlName="allowFileDelete">
          <mat-icon>delete</mat-icon>
          File Delete
        </mat-checkbox>
        
        <mat-checkbox formControlName="allowGitOperations">
          <mat-icon>source</mat-icon>
          Git Operations
        </mat-checkbox>
        
        <mat-checkbox formControlName="allowSystemCommands">
          <mat-icon>terminal</mat-icon>
          System Commands
        </mat-checkbox>
        
        <mat-checkbox formControlName="requireConfirmation">
          <mat-icon>verified_user</mat-icon>
          Require Confirmation
        </mat-checkbox>
      </div>
    </app-panel>
    
    <mat-divider></mat-divider>
    
    <app-panel title="Path Restrictions" icon="folder_special">
      <div class="path-section">
        <h4>Permitted Paths</h4>
        <div class="add-path">
          <mat-form-field appearance="outline" class="flex-field">
            <mat-label>Add Permitted Path</mat-label>
            <input matInput [(ngModel)]="newPermittedPath" [ngModelOptions]="{standalone: true}" 
                   placeholder="/path/to/permit">
          </mat-form-field>
          <button mat-icon-button color="primary" (click)="onAddPermittedPath()">
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
        
        <app-chip-list
          [chips]="getPermittedPathChips()"
          (chipRemoved)="onPermittedChipRemoved($event)">
        </app-chip-list>
      </div>
      
      <div class="path-section">
        <h4>Blocked Paths</h4>
        <div class="add-path">
          <mat-form-field appearance="outline" class="flex-field">
            <mat-label>Add Blocked Path</mat-label>
            <input matInput [(ngModel)]="newBlockedPath" [ngModelOptions]="{standalone: true}" 
                   placeholder="/path/to/block">
          </mat-form-field>
          <button mat-icon-button color="warn" (click)="onAddBlockedPath()">
            <mat-icon>block</mat-icon>
          </button>
        </div>
        
        <app-chip-list
          [chips]="getBlockedPathChips()"
          (chipRemoved)="onBlockedChipRemoved($event)">
        </app-chip-list>
      </div>
    </app-panel>
  </form>
</div>