<div class="config-container">
  <app-card 
    title="Configuration"
    [actions]="cardActions"
    (actionClick)="onCardAction($event)">
    
    <div card-content>
      <mat-tab-group [(selectedIndex)]="selectedTab">
        <!-- General Tab -->
        <mat-tab label="General">
          <app-general-config
            [form]="generalForm"
            [config]="generalConfig()"
            [providers]="providers()"
            (addDirectory)="addPermittedDirectory($event)"
            (removeDirectory)="removePermittedDirectory($event)">
          </app-general-config>
        </mat-tab>
        
        <!-- Providers Tab -->
        <mat-tab label="Providers">
          <app-provider-config
            [providers]="providers()"
            [availableModels]="availableModels"
            [form]="providerForm"
            (providerSelected)="selectProvider($event)"
            (providerAdded)="addNewProvider()"
            (providerSaved)="saveProvider()"
            (providerDeleted)="deleteProvider()"
            (providerTested)="testProvider()">
          </app-provider-config>
        </mat-tab>
        
        <!-- Security Tab -->
        <mat-tab label="Security">
          <app-security-config
            [form]="securityForm"
            [config]="securityConfig()"
            (addPermittedPath)="addPermittedPath($event)"
            (removePermittedPath)="removePermittedPath($event)"
            (addBlockedPath)="addBlockedPath($event)"
            (removeBlockedPath)="removeBlockedPath($event)">
          </app-security-config>
        </mat-tab>
      </mat-tab-group>
    </div>
  </app-card>
</div>