<mat-list-item 
  class="app-list-item"
  [class.selected]="selected"
  [class.disabled]="disabled"
  (click)="onClick($event)">
  
  @if (icon) {
    <mat-icon matListItemIcon>{{ icon }}</mat-icon>
  }
  @if (avatar) {
    <img matListItemAvatar [src]="avatar" [alt]="title">
  }
  
  <div matListItemTitle>{{ title }}</div>
  @if (subtitle) {
    <div matListItemLine>{{ subtitle }}</div>
  }
  
  <div class="list-item-content">
    <ng-content></ng-content>
  </div>
  
  @if (showActions && actions.length > 0) {
    <div class="list-item-actions" matListItemMeta>
      @if (actions.length === 1) {
        <button mat-icon-button 
                [color]="actions[0].color"
                (click)="onActionClick(actions[0].id, $event)">
          <mat-icon>{{ actions[0].icon || 'more_vert' }}</mat-icon>
        </button>
      } @else {
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          @for (action of actions; track action.id) {
            <button mat-menu-item (click)="onActionClick(action.id, $event)">
              @if (action.icon) {
                <mat-icon>{{ action.icon }}</mat-icon>
              }
              <span>{{ action.label }}</span>
            </button>
          }
        </mat-menu>
      }
    </div>
  }
</mat-list-item>