<mat-chip-set 
  class="app-chip-list"
  [class.vertical]="orientation === 'vertical'">
  @for (chip of chips; track chip.id) {
    <mat-chip-row 
      [color]="chip.color"
      [disabled]="chip.disabled"
      [class.selected]="isSelected(chip)"
      (click)="onSelect(chip)"
      (removed)="onRemove(chip)">
      @if (chip.icon) {
        <mat-icon matChipAvatar>{{ chip.icon }}</mat-icon>
      }
      {{ chip.label }}
      @if (removable && chip.removable !== false) {
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      }
    </mat-chip-row>
  }
</mat-chip-set>